body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: url("https://1.bp.blogspot.com/-q-xwKbppWvQ/Ta_Rw_lo4QI/AAAAAAAAApM/g5Ecg0KC9ek/s320/cartoon-clouds.jpg");
	-webkit-animation: clouds 30s linear infinite;
	animation: clouds 30s linear infinite;
}
.container {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.road {
	border-top: 25px solid #333;
	height: 100px;
	background: url("http://www.featurepics.com/FI/Thumb300/20080129/Grass-Pattern-597832.jpg");
	background-size: 200px auto;
	-webkit-animation: road 2s linear infinite;
	animation: road 2s linear infinite;
}
.car { 
	margin: 10% auto -75px;
	position: relative;
	width: 300px;
	-webkit-animation: car 15s infinite;
	animation: car 15s infinite;
}
.car img { width: 100%; animation: suspension 1s infinite; }
.car .wheel {
	background: url("http://openclipart.org/image/2400px/svg_to_png/171197/1342406378.png") no-repeat center center;
	background-size: 99% auto;
	display: block;
	width: 42px;
	height: 42px;
	position: absolute;
	bottom: 5px;
	-webkit-animation: spin 0.2s linear infinite;
	animation: spin 0.2s linear infinite;
 }
.wheel.front { left: 53px; }
.wheel.back { right: 53px; }
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(-360deg); }
}
@-webkit-keyframes road {
	from { background-position: 0 0; }
	to { background-position: 200% 0; }
}
@keyframes road {
	from { background-position: 0 0; }
	to { background-position: 200% 0; }
}
@-webkit-keyframes car {
	50% { -webkit-transform: translateX(10%); }
	70% { -webkit-transform: translateX(-20%); }
	100% { -webkit-transform: translateX(0%); }
}
@keyframes car {
	50% { transform: translateX(10%); }
	70% { transform: translateX(-20%); }
	100% { transform: translateX(0%); }
}
@-webkit-keyframes suspension {
	0% { -webkit-transform: translateY(1px); }
	50% { -webkit-transform: translateY(3px); }
	100% { -webkit-transform: translateY(1px); }
}
@keyframes suspension {
	0% { transform: translateY(1px); }
	50% { transform: translateY(3px); }
	100% { transform: translateY(1px); }
}
@-webkit-keyframes clouds {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}
@keyframes clouds {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}